<article class="card mt-3">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= t(".title") %>: <%= test.title %>
      </p>
      <p class="my-2">
        <%= t(".level") %>: <%= test.level %>
      </p>
      <p class="my-2">
        <%= t(".number") %>: <%= test.questions.count %>
      </p>
    </section>
    <%= button_to 'Start', start_user_test_path(test), class: 'btn btn-success' %>
  </div>
</article>
