<%= form_with url: sessions_path, local: true, html: { class: 'needs-validation' } do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, id: :name, class: 'form-control', required: true %>
    <div class="invalid-feedback">Please enter a valid name address.</div>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, id: :password, class: 'form-control', required: true %>
    <div class="invalid-feedback">Please enter a password.</div>
  </div>

  <div class="mb-3">
    <%= form.submit 'Enter', class: 'btn btn-primary' %>
  </div>
<% end %>
