<div style="display: flex; justify-content: center;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="form-group mt-3" style="text-align: center;">

      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", autocomplete: "email" %>

      <%= f.label :password, class: "form-label mt-3" %>
      <%= f.password_field :password, class: "form-control mb-3", autocomplete: "current-password" %>

    <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
    <% end %>
    </div>

    <div class="text-center">
    <%= link_to t('.recovery'), new_password_path(resource_name), class: "mb-3" %>
    </div>

    <div style="text-align: center;">
      <%= f.submit t('.create'), class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
</div>
