<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">Панель навигации</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href='<%= root_path %>'>Тесты</a>
        </li>
        <% if @tests.present? %>
          <li class="nav-item">
            <a class="nav-link" href='<%= new_test_path %>'>Создать тест</a>
          </li>
        <% elsif @questions.present? || @questions != nil %>
          <li class="nav-item">
            <a class="nav-link" href='<%= new_test_question_path(@test) %>'>Создать вопрос</a>
          </li>
        <% elsif @question != nil %>
          <li class="nav-item">
            <a class="nav-link" href='<%= test_path(params[:test_id] || @question) %>'>Вопросы теста</a>
          </li>
        <% elsif @answer != nil %>
          <li class="nav-item">
            <a class="nav-link" href='<%= question_path(@answer.question_id) %>'>Ответы вопроса</a>
          </li>
        <% end %>
        <% if controller_name == 'questions' && action_name == 'show' %>
          <li class="nav-item">
            <a class="nav-link" href='<%= new_question_answer_path(@question.id) %>'>Создать ответ</a>
          </li>
        <% end %>

    </ul>
</nav>
