<article class="card mt-3" style="border-color: #e3f2fd">
  <div class="card-body">
    <section>
      <p class="my-2">
        <%= t(".title") %>: <%= test.title %>
      </p>
      <p class="my-2">
        <%= t(".level") %>: <%= test.level %>
      </p>
      <p class="my-2">
        <%= t(".number") %>: <%= test.questions.count %>
      </p>
    </section>

    <%= link_to 'Show', admin_test_path(test), class: 'btn btn-primary' %>
    <%= link_to 'Update', edit_admin_test_path(test), class: 'btn btn-warning' %>
    <%= link_to "Delete", admin_test_path(test), class: 'btn btn-danger',
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</article>
