<h2 class="mb-4"><%= t('.test') %></h2>
<div style="margin-bottom: 30px">
  <article class="card mt-3" style="border-color: #6610f2">
    <div class="card-body">
      <p class="my-10">
        <%= t(".header") %>: <%= @test.title %>  <p><%= t(".level") %>: <%= @test.level %></p>
      </p>
    </div>
  </article>
</div>
<h2 class="mb-4"><%= t('.questions') %></h2>
<%= render @questions %>
