<h2 style="text-align: center;"><%= t(".header") %></h2>

<div style="display: flex; justify-content: center;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>

    <div class="form-group card-body">
      <%= f.label :name, class: "form-label mt-3" %><br />
      <%= f.text_field :name, autocomplete: "name", class: "form-control " %>

      <%= f.label :email, class: "form-label mt-3" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>

      <%= f.label :password, class: "form-label mt-3" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> <%= t(".chapters") %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

      <%= f.label :password_confirmation, class: "form-label mt-3" %>
      <div class="password-input">
        <div id="password-match-icon"></div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.submit t('.create'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
